.App {
  text-align: center;
}
.tittle{
  text-align: center;
}
.logos{
  background-color: #282c34;
  padding-left: 2%;
  text-align: center;


}
.conta {
  padding: 5%;
  background-color: #282c34;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.profile {
  width: 50%;
}

.logo {
  width: 20%;
  height: 112px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  margin: 20px;
}
li {
  padding-top: 1%;
}
